* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
.App {
  /* background-image: url("images/about image.jpg"); */
  background: #05001b;
  color: #fff;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
}
li {
  list-style-type: none;
}
/* .nav-center {
  display: flex;
  justify-content: space-between;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.links a {
  font-size: 1rem;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 2rem;
}
.links {
  height: 0;
  overflow: hidden;
}
.about {
  color: white;
  display: grid;
  place-items: center;
  /* padding: 2rem; */
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
    justify-content: left;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
